<h1>QuestionsPages</h1>
<div class = "row">
  <div class="span4">
    <section>
      <h5>質問投稿欄</h5>
      <%= render 'layouts/question' %>
    </section>
    <a href="https://itandi.qiita.com/">質問に対する回答はここで</a>
  </div>
  <div class="span8">
    <h3>投稿された質問一覧</h3>
    <%= render 'layouts/feed' %>
  </div>
</div>
