<li class="microposts">
  <% @microposts.each do |f| %>
    <span class= "content"><%= f.content %></span>
    <span class="timestamp">
    Posted <%= time_ago_in_words(f.created_at) %> ago.
    </span>
  <% end %>
  <%= will_paginate @microposts %>
</li>
